- if(slice.items)
    .row.mb-md-5
        for item in slice.items
            - var column = item.column
            - var imageInColumn = column.length > 0 && column.find( (col) => col.type === 'image' );
            //- console.log(column.length)
            if(column)
                - var widthClass = 12 / slice.items.length
                .col-12.d-flex.align-items-center.mb-md-3(class=`col-md-${ widthClass }${ imageInColumn ? ` order-last order-md-0` : '' }`)
                    div
                        != prismicDom.RichText.asHtml(column, ctx.linkResolver)