doctype html
html(lang=`${ document && document.lang ? document.lang : 'en-us'}`)
  - var siteName = global ? global.data.site_name : null
  head
    title!= siteName
    link(rel="stylesheet", href="/assets/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel='apple-touch-icon' sizes='180x180' href='/assets/images/icons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/images/icons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/images/icons/favicon-16x16.png')
    link(rel='manifest' href='/assets/images/icons/site.webmanifest')
    link(rel='mask-icon' href='/assets/images/icons/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#ffffff')

    // Required for Previews and Experiments
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.apiEndpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")
  body
    block body

  footer
    block footer
  script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.27/dist/bootstrap-native-v4.min.js")
  script(type="text/javascript" src="/assets/js/headroom.js")
  script.
    var headroom = new Headroom(document.querySelector('.js-headroom'), {
      "offset": 205,
      "tolerance": 5
    });
    headroom.init();
